.container{
    display: flex;
    margin-bottom: 130px;
    flex-wrap: wrap;
}
.section2{
    display: flex;
    flex-wrap: wrap;
}
.section3{
    margin-bottom: 130px;
    margin-top: 170px;
    display: flex;
    flex-wrap: wrap;
}
.section4{
    margin-left: 110px;
    margin-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
}
.section5{
    margin-top: 90px;
    margin-left: 110px;
    display: flex;
    flex-wrap: wrap;
}
.section6{
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
}
.div{
    margin-left: 110px;
}
.div1{
    margin-left: 20px;
}
.div2{
    margin-left: 20px;
}
.rounded1{
    margin-top: 55px;
    margin-left:13px;
}
.rounded2{
    margin-top: 55px;
    margin-left:25px;
}
.rounded3{
    justify-content: flex-end;
}
.rounded4{
    margin-left: 0;
}
.rounded31{
    margin-top: 20px;
    margin-right: 0;

}

.rounded66{
    margin-bottom: 33px;
} 
.h11{
    color: red;
    font-size: 45px;
    margin-top:120px;
    margin-right: 200px;
    margin-bottom: 30px;
}
.h12{
    color: rgb(0, 26, 255);
    font-size: 45px;
    margin-top:120px;
    margin-right: 200px;
    margin-bottom: 30px;
}
.h121{
    color: rgb(0, 0, 0);
    font-size: 45px;
    margin-top:120px;
    margin-right: 200px;
    margin-bottom: 30px;
}
.h31{
    margin-left:25px;
}
.h1{
    text-align: center;
}
.h111{
    font-size: 26px;
    text-align: center;
}
.p{
    text-align: center;
    color: red;
}
.p1{
    color: rgb(95, 93, 93);
    margin-bottom: 1px;
}
.p12{
    text-align: center;
}
.p121{
    text-align: center;
    color: rgb(0, 26, 255);
}
.button{
    border-radius: 10px;
    padding: 12px;
    background-color:red;
    color: rgb(255, 238, 238);
    margin-top:30px;
}
.button1{
    border-radius: 10px;
    padding: 12px;
    background-color: rgb(0, 26, 255);
    color: rgb(255, 238, 238);
    margin-top:30px;
}
.button12{
    border-radius: 10px;
    padding: 12px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 238, 238);
    margin-top:30px;
}
.hr{
    background-color:red;

}